<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UzairGram</title>
</head>
<body style="background-color: cornsilk;">
    <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif ;">Welcome to UzairGram !</h1>
    <br>
    <h2>Influencing over <%= count %> people around the world !</h2>
    <h3>For more information about our user please click him </h3>
    <a href="http://localhost:8080/users">click me</a>

</body>
</html>